<!DOCTYPE html>
<html>
  <head>
    <title><%= titulo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= titulo %></h1>
    <p>Welcome to <%= titulo %> - <%= descripcion %></p>
    <% if(anuncios && anuncios.length > 0){ %>
      <% anuncios.forEach(function(value, i) { %>
      <div>
        <h2><strong><%= value.nombre %>
          </strong>
        </h2>
        
        <p>
          <%= value.venta ? 'Vende' : 'Busca' %>
        </p>
        <p>Precio: <%= value.precio %> €</p>
        <p> Tags:
          <% value.tags.forEach(function(value){ %>
          <span>
            <%=value %> </span>
          <% }) %>
        </p>
        <img src="./images/<%= value.foto %>" alt="<%= value.foto %>">
      </div>
      <% }) %>
    <% } %>
  </body>
</html>
